*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    width:5px;
    background: black;
}
::-webkit-scrollbar-thumb{
    width: 4px;
    border-radius: 3px;
    background: rgb(158, 152, 152);
}
.landing{
    width: 100%;
    height: 100vh;
    background: black;
    position: relative;
}
.landing video{
    width: 100%;
    height: 100vh;
    position: absolute;
    top:0;
    left: 0;
    opacity: 0.7;
    object-fit:cover;
}

.navbar{
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 100px;
}

.logo{
    text-decoration: none;
    color: white;
    font-size:  28px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 800;
}
.navbar ul li{
    display: inline-block;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    position: relative;
}
.navbar ul li::after{
    content:"";
    width: 0;
    height: 2px;
    background: cyan;
    position: absolute;
    bottom: 0;
    left:0;
    transition: 0.4s ease;
}
.navbar ul li:hover::after{
    width: 100%;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
}

.content{
    position: absolute;
    text-align: center;
    max-width: 100%;
    top: 40%;
    color: white;
    padding: 0 10%;
}
.content h2{
    font-size: 60px;
}
.content p{
    font-size: 20px;
}

.aboutus{
    display: flex;
    flex-direction: row;
}
.content-about,.aboutus img{
    width: 50%;
}
.content-about{
    background-color: rgb(54, 102, 102);
    color: white;
    text-align: center;
    padding: 100px;
}
.content-about h2{
    font-size: 30px;
    margin: 10px 0;
}
.content-about p{
    font-size: 16px;
}
.domains{
    background: rgb(29, 29, 70);
    color: white;
    padding: 100px;
    text-align: center;
}
.domains h2{
    font-size: 30px;
    margin: 10px 0;
}
.domains p{
    font-size: 16px;
}
.container{
    width: 80%;
    margin: 40px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.card{
    border: 2px solid white;
    border-radius: 20px;
    width: 30%;
    margin: 30px;
    padding: 10px 0;
    transition: 0.4s ease-in-out;
}
.card:hover{
    color: rgb(29, 29, 70);
    background: white;
}
.card img{
    width: 100%;
    height: 220px;
}
.card h3{
    padding: 10px;
    padding-top: 0;
}

.contact{
    background: rgb(70, 70, 184);
    padding: 100px;
    text-align: center;
    color: white;
}
.contact-div{
    display: flex;
    width: 90%;
    margin: 50px auto;
}
.contact-div img{
    width: 50%;
}
form{
    width: 50%;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    background: rgb(70, 70, 184);
    padding: 50px
}
form ::placeholder{
    color: rgba(255, 255, 255, 0.685);
}
form input, form textarea{
    margin: 10px 0;
    background: unset;
    padding: 5px;
    outline: none;
    border: none;
    border-bottom: 2px solid white;
    color: white;
    font-size: 14px;
}
form input:hover, form textarea:hover{
    border-color: cyan; 
}
form textarea{
    height: 35px;
}
form button{
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    font-weight: 800;
    outline: none;
    background: rgb(70, 70, 184);
    padding: 7px 15px;
    margin-left: auto;
    cursor: pointer;
    transition: 0.4s ease;
}
form button:hover{
    background: white;
    color: cyan;
}
.footer{
    background: black;
    color: white;
    padding: 20px 15%;
    text-align: center;
}


@media only screen and (max-width: 800px){
    .navbar ul{
        display: none;
    }
    .navbar a{
        margin: 0 auto;
    }
    .content{
        top: 20%;
    }
    .content h2{
        font-size: 36px;
        margin-bottom: 20px;
    }
    .content p{
        font-size: 18px;
    }

    .aboutus{
        flex-direction: column;
    }
    .content-about,.aboutus img{
        width: 100%;
    }
    .content-about{
        padding: 10px;
    }

    .domains{
        padding: 15px;
    }
    .container{
        flex-direction: column;
    }
    .card{
        margin: 10px;
        width: 95%;
        margin-bottom: 20px;
    }

    .contact{
        padding: 15px;
    }
    .contact-div{
        flex-direction: column;
    }
    .contact-div img, form{
        width: 100%;
    }
}
